[submodule "lab02/report/docs"]
	path = lab02/report/docs
	url = https://github.com/Lothindir/pandoc-heig.git
[submodule "lab03/report/docs"]
	path = lab03/report/docs
	url = https://github.com/Lothindir/pandoc-heig.git
[submodule "lab04/report/docs"]
	path = lab04/report/docs
	url = https://github.com/Lothindir/pandoc-heig.git
[submodule "lab05/report/docs"]
	path = lab05/report/docs
	url = https://github.com/Lothindir/pandoc-heig.git
[submodule "lab06/report/docs"]
	path = lab06/report/docs
	url = https://github.com/Lothindir/pandoc-heig.git
